<div class="slideout-content">
  <div class="modalsd modal-slide-in sdfade" id="modals-slide-in">
    <div class="modal-dialog" *blockUI="'reward_item_content_block'">
      <form
        [formGroup]="formGroup"
        class="modal-content pt-0"
        (ngSubmit)="submit()"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="close()"
        ></button>
        <div class="modal-header mb-1">
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label"
              >{{ lcode }}<strong class="mark-required">(*)</strong></label
            >
            <dx-text-box
              [maxLength]="30"
              formControlName="code"
              [readOnly]="readOnly || modelId"
              [isValid]="!cError('code')"
            ></dx-text-box>
            <span class="invalid-form" *ngIf="cErrorV('code', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
            <span class="invalid-form" *ngIf="cErrorV('code', 'minlength')">
              <small class="form-text text-danger">{{ lmin(2) }}</small>
            </span>
            <span class="invalid-form" *ngIf="cErrorV('code', 'maxLength')">
              <small class="form-text text-danger">{{
                lmax(50)
              }}</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label"
              >{{ lname }}<strong class="mark-required">(*)</strong></label
            >
            <dx-text-box
              [maxLength]="100"
              formControlName="name"
              [readOnly]="readOnly"
              [isValid]="!cError('name')"
            ></dx-text-box>
            <span class="invalid-form" *ngIf="cErrorV('name', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
            <span class="invalid-form" *ngIf="cErrorV('name', 'maxLength')">
              <small class="form-text text-danger">{{
                lmax("name", 200)
              }}</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label">{{ l("link") }}</label>
            <dx-text-box
              [maxLength]="500"
              formControlName="link"
              [readOnly]="readOnly"
              [isValid]="!cError('link')"
            ></dx-text-box>
            <span
              class="invalid-form"
              *ngIf="cErrorV('link', 'maxLength')"
            >
              <small class="form-text text-danger">{{
                lmax("link", 1000)
              }}</small>
            </span>
          </div>

          <button
            type="button"
            (click)="saveAdd()"
            *ngIf="saveAddVisible"
            class="btn btn-primary mr-1 mt-1"
            rippleEffect
          >
            {{ lsaveadd }}
          </button>
          <button
            type="submit"
            *ngIf="updateVisible"
            class="btn btn-primary mr-1 mt-1"
            rippleEffect
          >
            {{ lsave }}
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary mt-1"
            (click)="close()"
            rippleEffect
          >
            {{ lclose }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
