<div class="content-wrapper">
  <div class="content-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <app-content-header
          contentHeaderName="reward_package"
        ></app-content-header>
      </div>
      <div class="ml-auto">
        <ng-container *ngTemplateOutlet="buttons"></ng-container>
      </div>
    </div>
    <section>
      <div class="card">
        <ng-container *ngTemplateOutlet="filterForm"></ng-container>
        <dx-data-grid
          #dataGrid
          class="ext-grid mb-1"
          [dataSource]="store"
          [showBorders]="false"
          [showColumnLines]="false"
          [showRowLines]="true"
          [columnHidingEnabled]="true"
          [columnAutoWidth]="true"
          [remoteOperations]="true"
          [wordWrapEnabled]="true"
        >
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-load-panel [enabled]="false"> </dxo-load-panel>
          <dxo-pager
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxi-column
            dataField="code"
            [caption]="lcode"
            cellTemplate="codeTemplate"
          >
            <div *dxTemplate="let cell of 'codeTemplate'">
              <a
                href="javascript:;"
                (click)="showDetail(cell.data)"
                class="font-weight-bold"
                >{{ cell.data.code }}</a
              >
            </div>
          </dxi-column>
          <dxi-column dataField="name" [caption]="lname"></dxi-column>

          <dxi-column
            dataField="type"
            [caption]="l('reward_package_type')"
            cellTemplate="typeTemplate"
            alignment="left"
          >
            <div *dxTemplate="let cell of 'typeTemplate'">
              <div>
                {{
                  l(cell.data.type == 1 ? "reward_type_bttt" : "reward_type_gv")
                }}
              </div>
            </div>
          </dxi-column>

          <dxi-column
            dataField="totalTickets"
            [caption]="l('total_tickets')"
            format="#,##0"
            [width]="100"
          ></dxi-column>

          <dxi-column
            dataField="totalAmount"
            [caption]="l('total_amount')"
            format="#,##0.##"
          ></dxi-column>

          <dxi-column
            dataField="fromDate"
            [caption]="l('from_date')"
            type="date"
            [width]="100"
          ></dxi-column>

          <dxi-column
            dataField="toDate"
            [caption]="l('to_date')"
            type="date"
            [width]="100"
          ></dxi-column>

          <dxi-column
            dataField="isActive"
            [caption]="lstatus"
            cellTemplate="statusTemplate"
          >
            <div *dxTemplate="let cell of 'statusTemplate'">
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-primary': cell.data.isActive,
                  'badge-light-secondary': !cell.data.isActive
                }"
              >
                {{ l(cell.data.isActive ? "active" : "inactive") }}
              </div>
            </div>
          </dxi-column>
          <dxi-column
            cellTemplate="actionTemplate"
            [allowEditing]="false"
            [width]="80"
          >
            <div *dxTemplate="let cell of 'actionTemplate'">
              <div class="d-flex align-items-center">
                <a
                  href="javascript:void(0);"
                  container="body"
                  placement="top"
                  *ngIf="deleteVisible(cell.data)"
                  (click)="delete(cell.data)"
                  ><i class="mr-1" size="16" data-feather="trash"></i
                ></a>

                <a
                  href="javascript:void(0);"
                  container="body"
                  placement="top"
                  (click)="showDetail(cell.data)"
                  ><i class="mr-1" size="16" data-feather="edit"></i
                ></a>
              </div>
            </div>
          </dxi-column>
        </dx-data-grid>

        <block-ui> </block-ui>
      </div>
    </section>
  </div>
</div>

<ng-template #buttons>
  <div class="d-flex align-items-center">
    <div class="spinner-border text-primary ml-1" role="status" *ngIf="loading">
      <span class="sr-only">{{ lloading }}</span>
    </div>

    <button
      class="btn btn-primary ml-1"
      rippleEffect
      *ngIf="createVisible"
      (click)="create()"
    >
      <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
      ><span class="d-none d-sm-inline-block">{{ ladd }}</span>
    </button>
    <button
      type="button"
      class="btn btn-icon btn-outline-primary ml-1"
      rippleEffect
      (click)="refresh()"
    >
      <span [data-feather]="'refresh-ccw'"></span>
    </button>
  </div>
</ng-template>

<ng-template #filterForm>
  <form [formGroup]="filterFormGroup" class="mt-1 mr-1 ml-1">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <app-status-active-combo
            [placeholder]="l('all')"
            formControlName="statusActive"
          ></app-status-active-combo>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label class="form-label">{{ l("search") }}</label>
          <input
            type="search"
            class="form-control"
            formControlName="search"
            [placeholder]="l('search_placeholder')"
            (input)="searchChange($event)"
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <app-status-active-combo
            formControlName="statusActive"
          ></app-status-active-combo>
        </div>

        <!-- <div class="form-group">
          <div class="custom-control custom-switch">
            <p class="form-label mb-50">{{ lstatus }}</p>
            <input
              id="displayAllBranchCheckbox"
              type="checkbox"
              class="custom-control-input"              
              formControlName="isActive"
            />
            <label for="displayAllBranchCheckbox" class="custom-control-label">
              <span class="switch-icon-left"><i data-feather="check"></i></span>
              <span class="switch-icon-right"><i data-feather="x"></i></span>
            </label>
          </div>
        </div> -->
      </div>
    </div>
  </form>
</ng-template>
