<div class="slideout-content">
  <!-- Modal to add new user starts-->
  <div class="modalsd modal-slide-in sdfade" id="modals-slide-in">
    <div
      class="modal-dialog cbms-form"
      *blockUI="'product_point_content_block'"
    >
      <form
        [formGroup]="formGroup"
        class="modal-content pt-0"
        (ngSubmit)="submit()"
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="close()"
        ></button>
        <div class="modal-header mb-1">
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <app-product-combo
              required="true"
              [readOnly]="formReadOnly || modelId"
              formControlName="productId"
              [error]="cError('productId')"
            ></app-product-combo>
            <span class="invalid-form" *ngIf="cErrorV('productId', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label"
              >{{ l("points")
              }}<strong class="mark-required">(*)</strong></label
            >
            <dx-number-box
              format="#,##0.##"
              [min]="0"
              [max]="1000000"
              formControlName="points"
              [isValid]="!cError('points')"
            ></dx-number-box>
            <span class="invalid-form" *ngIf="cErrorV('points', 'required')">
              <small class="form-text text-danger">{{ lreq("points") }}</small>
            </span>
            <span class="invalid-form" *ngIf="cErrorV('points', 'min')">
              <small class="form-text text-danger">{{
                lnminv("points", 0)
              }}</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label"
              >{{ l("from_date")
              }}<strong class="mark-required">(*)</strong></label
            >
            <dx-date-box
              type="date"
              #fromDate
              [showClearButton]="true"
              [useMaskBehavior]="true"
              formControlName="fromDate"
              [isValid]="!cError('fromDate')"
            >
            </dx-date-box>
            <span class="invalid-form" *ngIf="cErrorV('fromDate', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
          </div>
          <div class="form-group">
            <label class="form-label"
              >{{ l("to_date")
              }}<strong class="mark-required">(*)</strong></label
            >
            <dx-date-box
              type="date"
              #toDate
              [showClearButton]="true"
              [useMaskBehavior]="true"
              formControlName="toDate"
              [isValid]="!cError('toDate')"
            >
            </dx-date-box>
            <span class="invalid-form" *ngIf="cErrorV('toDate', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('toDate', 'invalidRange')"
            >
              <small class="form-text text-danger">{{
                l("error_todate")
              }}</small>
            </span>
          </div>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <p class="form-label mb-50">{{ l("active") }}</p>
              <input
                id="brand-isActive"
                type="checkbox"
                class="custom-control-input"
                formControlName="isActive"
              />
              <label class="custom-control-label" for="brand-isActive">
                <span class="switch-icon-left"
                  ><i data-feather="check"></i
                ></span>
                <span class="switch-icon-right"><i data-feather="x"></i></span>
              </label>
            </div>
          </div>

          <button
            type="submit"
            *ngIf="saveVisible"
            class="btn btn-primary mr-1 mt-1"
            rippleEffect
          >
            {{ lsave }}
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary mt-1"
            (click)="close()"
            rippleEffect
          >
            {{ lclose }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new user Ends-->
</div>
