//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

// Custom variables
// $base-font-size: 14px;
$small-font-size: 0.95rem !default;
$content-padding: 1.1rem !default;
$font-family-sans-serif: Helvetica, Arial, serif !default;
$font-family-monospace: Helvetica, Arial, serif !default;

// vertical menu
$menu-expanded-width: 230px !default;
// $menu-collapsed-width: 80px !default;