<div class="content-wrapper">
  <div class="content-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <app-content-header contentHeaderName="brand"></app-content-header>
      </div>
      <div class="ml-auto">
        <ng-container *ngTemplateOutlet="buttons"></ng-container>
      </div>
    </div>
    <section>
      <div class="card">
        <ng-container *ngTemplateOutlet="filterForm"></ng-container>
        <dx-data-grid
          #dataGrid
          class="ext-grid mb-1"
          [dataSource]="store"
          [showBorders]="false"
          [showColumnLines]="false"
          [showRowLines]="true"
          [columnHidingEnabled]="true"
          [columnAutoWidth]="true"
          [remoteOperations]="true"
        >
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-load-panel [enabled]="false"> </dxo-load-panel>
          <dxo-pager
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxi-column
            dataField="code"
            [caption]="lcode"
            cellTemplate="codeTemplate"
          >
            <div *dxTemplate="let cell of 'codeTemplate'">
              <a
                href="javascript:;"
                (click)="showDetail(cell.data)"
                class="font-weight-bold"
                >{{ cell.data.code }}</a
              >
            </div>
          </dxi-column>
          <dxi-column dataField="name" [caption]="l('name')"></dxi-column>

          <dxi-column
            dataField="isActive"
            [caption]="lstatus"
            cellTemplate="statusTemplate"
          >
            <div *dxTemplate="let cell of 'statusTemplate'">
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-primary': cell.data.isActive,
                  'badge-light-secondary': !cell.data.isActive
                }"
              >
                {{ l(cell.data.isActive ? "active" : "inactive") }}
              </div>
            </div>
          </dxi-column>
          <dxi-column
            cellTemplate="actionTemplate"
            [allowEditing]="false"
            [width]="80"
          >
            <div *dxTemplate="let cell of 'actionTemplate'">
              <div ngbDropdown container="body">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn icon-btn btn-sm hide-arrow"
                  rippleEffect
                >
                  <span
                    [data-feather]="'more-vertical'"
                    [class]="'cursor-pointer'"
                  ></span>
                </button>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem (click)="showDetail(cell.data)"
                    ><span
                      [data-feather]="'edit'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    {{ ledit }}</a
                  ><a
                    href="javascript:;"
                    ngbDropdownItem
                    *ngIf="deleteVisible(cell.data)"
                    (click)="delete(cell.data)"
                    ><span
                      [data-feather]="'trash'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    {{ ldelete }}</a
                  ><a
                    href="javascript:;"
                    ngbDropdownItem
                    *ngIf="duplicateVisible(cell.data)"
                    (click)="duplicate(cell.data)"
                    ><span
                      [data-feather]="'copy'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    {{ lduplicate }}</a
                  >
                </div>
              </div>
            </div>
          </dxi-column>
        </dx-data-grid>

        <block-ui> </block-ui>
      </div>
    </section>
  </div>

  <core-sidebar
    class="modal modal-slide-in fade"
    [name]="sidebarName"
    overlayClass="modal-backdrop"
  >
    <app-brand-sidebar></app-brand-sidebar>
  </core-sidebar>
</div>

<ng-template #buttons>
  <div class="d-flex align-items-center">
    <div class="spinner-border text-primary ml-1" role="status" *ngIf="loading">
      <span class="sr-only">{{ lloading }}</span>
    </div>

    <button
      class="btn btn-primary ml-1"
      rippleEffect
      *ngIf="createVisible"
      (click)="create()"
    >
      <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
      ><span class="d-none d-sm-inline-block">{{ ladd }}</span>
    </button>
    <button
      type="button"
      class="btn btn-icon btn-outline-primary ml-1"
      rippleEffect
      (click)="refresh()"
    >
      <span [data-feather]="'refresh-ccw'"></span>
    </button>
  </div>
</ng-template>

<ng-template #filterForm>
  <form [formGroup]="filterFormGroup" class="mt-1 mr-1 ml-1">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <app-status-active-combo
            [placeholder]="l('all')"
            formControlName="statusActive"
          ></app-status-active-combo>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label class="form-label">{{ l("search") }}</label>
          <input
            type="search"
            class="form-control"
            [placeholder]="l('search_placeholder')"
            (input)="searchChange($event)"
          />
        </div>
      </div>
    </div>
  </form>
</ng-template>
