@import "@core/scss/angular/libs/flatpickr.component.scss";
@import "@core/scss/angular/libs/select.component.scss";
@import "@core/scss/angular/libs/quill-editor.component";
@import "@core/scss/angular/libs/blockui.component.scss";
@import "@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/angular/libs/toastr.component.scss";
@import "@core/scss/angular/libs/tree-view.component.scss";
@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/ratings.component.scss';

app-posm-investment-edit {
  .ql-toolbar {
    border-top: none !important;
  }
  .ql-container {
    border-bottom: none !important;
  }
  .datatable-scroll {
    width: auto !important;
  }

  .ngx-datatable.scroll-horz .datatable-body {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  .ngx-datatable {
    overflow-wrap: break-word;
  }
  .rating {
    line-height: 2rem;
  }
}

.posm-bs-stepper-subtitle {
  font-weight: 400;
  font-size: 0.9rem;
  color: #c3006c;
  line-height: 1.9rem;
}