<div
  class="content-wrapper d-flex flex-column"
  *blockUI="'change_password_dialog_block'"
>
  <form class="form-validate mb-auto " [formGroup]="formGroup">
    <div class="content-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>{{ l("password") }}</label>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                formControlName="password"
                [type]="passwordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                autofocus=""
                [class.error]="cError('password')"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
  
            <span class="invalid-form" *ngIf="cErrorV('password', 'required')">
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
  
            <span class="invalid-form" *ngIf="cErrorV('password', 'minlength')">
              <small class="form-text text-danger">{{
                lmin("password", 5)
              }}</small>
            </span>
            <span class="invalid-form" *ngIf="cErrorV('password', 'maxLength')">
              <small class="form-text text-danger">{{
                lmax("password", 250)
              }}</small>
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>{{ l("confirm_password") }}</label>
  
            <div class="input-group input-group-merge form-password-toggle">
              <input
                formControlName="confirmPassword"
                [type]="confirmPasswordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                [class.error]="cError('confirmPassword')"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': confirmPasswordTextType,
                      'icon-eye': !confirmPasswordTextType
                    }"
                    (click)="toggleConfirmPasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'required')"
            >
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>
  
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'minlength')"
            >
              <small class="form-text text-danger">{{ lmin(5) }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'maxLength')"
            >
              <small class="form-text text-danger">{{ lmax(250) }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'mismatch')"
            >
              <small class="form-text text-danger">{{
                l("reset_pasword_mismatch")
              }}</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end">
    <button
      class="btn btn-primary mr-1 mt-1"
      rippleEffect
      (click)="update()"
    >
      {{ l('change_password') }}
    </button>
    <button
      class="btn btn-outline-secondary mt-1"
      (click)="close()"
      rippleEffect
    >
      {{ lclose }}
    </button>
  </div>
</div>
