<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="assets/images/logo/logo.png" alt="brand-logo" height="80" />
    </a> -->
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="p-0 h-100 d-none d-lg-flex col-lg-8 align-items-center">
      <div
        class="w-100 h-100 d-lg-flex align-items-center justify-content-center"
      >
        <img
          style="max-height: 100%; width: 100%; object-fit: cover"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2.png'
              : 'assets/images/pages/login-v2.png'
          "
          alt="Reset V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">
          {{ l("reset_header") }}
        </h2>
        <p class="card-text mb-2" *ngIf="validTicket !== false">
          {{ l("reset_title") }}
        </p>
        <ngb-alert
          [type]="'danger'"
          [dismissible]="false"
          *ngIf="validTicket === false"
        >
          <div class="alert-body">
            <p>{{ l("reset_invalid_ticket_message") }}</p>
          </div>
        </ngb-alert>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>
        <ngb-alert [type]="'success'" [dismissible]="false" *ngIf="success">
          <div class="alert-body">
            <p>{{ l("reset_success_message") }}</p>
          </div>
        </ngb-alert>
        <form
          class="auth-reset-password-form mt-2"
          [formGroup]="resetForm"
          (ngSubmit)="onSubmit()"
          *ngIf="formVisible"
        >
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">{{ l("new_password") }}</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                formControlName="newPassword"
                [type]="passwordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                autofocus=""
                tabindex="1"
                [class.error]="cError('newPassword')"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>

            <span
              class="invalid-form"
              *ngIf="cErrorV('newPassword', 'required')"
            >
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>

            <span
              class="invalid-form"
              *ngIf="cErrorV('newPassword', 'minlength')"
            >
              <small class="form-text text-danger">{{
                lmin("new_password", 6)
              }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('newPassword', 'maxLength')"
            >
              <small class="form-text text-danger">{{
                lmax("new_password", 250)
              }}</small>
            </span>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">{{
                l("confirm_password")
              }}</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                formControlName="confirmPassword"
                [type]="confPasswordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                [class.error]="cError('confirmPassword')"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }"
                    (click)="toggleConfPasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'required')"
            >
              <small class="form-text text-danger">{{ lreq() }}</small>
            </span>

            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'minlength')"
            >
              <small class="form-text text-danger">{{
                lmin("confirm_password", 6)
              }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'maxLength')"
            >
              <small class="form-text text-danger">{{
                lmax("confirm_password", 250)
              }}</small>
            </span>
            <span
              class="invalid-form"
              *ngIf="cErrorV('confirmPassword', 'mismatch')"
            >
              <small class="form-text text-danger">{{
                l("reset_pasword_mismatch")
              }}</small>
            </span>
          </div>
          <button
            [disabled]="loading"
            class="btn btn-primary btn-block"
            tabindex="3"
            rippleEffect
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            {{ l("reset_set") }}
          </button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login"
            ><i data-feather="chevron-left"></i> {{ l("reset_back") }}</a
          >
        </p>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>
